[core]
	excludesFile = ~/.gitignore
	editor = micro
	pager = delta
[user]
	name = Jason Conway
	email = jpc@jasonconway.dev
[status]
	showUntrackedFiles = all
[rerere]
	enabled = true
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[merge]
	conflictstyle = diff3
[push]
	followTags = true
[init]
	defaultBranch = main
[interactive]
  	diffFilter = delta --color-only
[delta]
	navigate = true
	light = false
[diff]
	colorMoved = default
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
