---
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignConsecutiveMacros: 'true'
AlignEscapedNewlines: DontAlign
AlignOperands: Align
AllowAllArgumentsOnNextLine: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortEnumsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: 'true'
AlwaysBreakAfterDefinitionReturnType: None
BitFieldColonSpacing: Both
BracedInitializerIndentWidth: 4
BreakAdjacentStringLiterals: 'true'
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Stroustrup
BreakBeforeInlineASMColon: OnlyMultiline
BreakBeforeTernaryOperators: 'false'
ColumnLimit: '0'
Cpp11BracedListStyle: 'false'
IndentAccessModifiers: 'false'
IndentCaseBlocks: 'false'
IndentCaseLabels: 'true'
IndentGotoLabels: 'false'
IndentPPDirectives: BeforeHash
IndentWidth: 4
InsertBraces: 'true'
InsertNewlineAtEOF: 'true'
KeepEmptyLinesAtTheStartOfBlocks: 'true'
MaxEmptyLinesToKeep: 2
PackConstructorInitializers: Never
PointerAlignment: Right
QualifierAlignment: Custom
QualifierOrder: ['static', 'inline', 'const', 'type', 'restrict', 'volatile']
ReferenceAlignment: Pointer
ReflowComments: 'true'
RemoveParentheses: ReturnStatement
SpaceAfterCStyleCast: 'false'
SpaceAfterLogicalNot: 'false'
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeCaseColon: 'false'
SpaceBeforeCpp11BracedList: 'true'
SpaceInEmptyBlock: 'true'
SpaceInEmptyParentheses: 'false'
UseTab: Never
...
